* {
    font-family: "FontAwesome", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
    box-shadow: none;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden { opacity: 0.2; }

button {
    box-shadow: none;
    border: none;
    border-radius: 0;
}

button:hover { 
    background: inherit; 
    opacity: 0.8;
}

#workspaces button {
    padding: 0 8px;
    margin: 0 4px;
    background: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;
    min-height: 30px;
}

#workspaces button:hover {
    opacity: 0.8;
}

#workspaces button.active {
    background: rgba(0, 0, 0, 0.1);
}

#workspaces button.urgent {
    background: #cc241d;
    animation: urgent-blink 1s linear infinite;
}

@keyframes urgent-blink {
    50% { opacity: 0.5; }
}

#clock, #cpu, #memory, #temperature, #network,
#pulseaudio, #tray, #idle_inhibitor,
#power-profiles-daemon, #mpd, #language {
    padding: 0 12px;
    margin: 0 4px;
    background: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;
    min-height: 30px;
}

#clock:hover, #cpu:hover, #memory:hover,
#temperature:hover, #network:hover, #pulseaudio:hover,
#idle_inhibitor:hover, #power-profiles-daemon:hover, 
#language:hover, #tray:hover {
    opacity: 0.8;
}

.modules-left > widget:first-child > #workspaces { margin-left: 0; }
.modules-right > widget:last-child > #workspaces { margin-right: 0; }

#clock {
    font-weight: bold;
}

#power-profiles-daemon.performance {
    background: rgba(255, 0, 0, 0.1);
}

#power-profiles-daemon.balanced {
    background: rgba(255, 255, 0, 0.1);
}

#power-profiles-daemon.power-saver {
    background: rgba(0, 255, 0, 0.1);
}

#cpu.warning { 
    background: rgba(255, 255, 0, 0.1);
}

#cpu.critical { 
    background: rgba(255, 0, 0, 0.1);
}

#memory.warning { 
    background: rgba(255, 255, 0, 0.1);
}

#memory.critical { 
    background: rgba(255, 0, 0, 0.1);
}

#network.disconnected {
    background: rgba(255, 0, 0, 0.1);
}

#pulseaudio.muted {
    background: rgba(255, 255, 0, 0.1);
    color: #d79921;
}

#temperature.critical {
    background: rgba(255, 0, 0, 0.1);
    animation: temp-pulse 2s ease infinite alternate;
}

@keyframes temp-pulse {
    to { opacity: 0.7; }
}

#tray > .passive { 
    -gtk-icon-effect: dim; 
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: rgba(235, 77, 75, 0.4);
    border-radius: 4px;
}

#idle_inhibitor.activated {
    background: rgba(255, 236, 210, 0.2);
}

#mpd { 
    background: rgba(102, 204, 153, 0.2);
}

#mpd.disconnected { 
    background: rgba(245, 60, 60, 0.2);
}

#mpd.stopped { 
    background: rgba(144, 177, 177, 0.2);
}

#mpd.paused { 
    background: rgba(81, 163, 122, 0.2);
}

tooltip {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

tooltip * {
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
}
